.Activation{
    height: 100vh;
    margin-top: -5px;
    background: linear-gradient(180deg, #AED9E0 0%, #FDFFFC 75%);
}

.Activation a{
    text-decoration: none;
    margin: auto;
    text-transform: uppercase;
}