.Sidebar{
    position: absolute;
    /*width: 100%;
    z-index: 1;
    
    overflow-y: hidden;
    
    
    */
    background: #2d936c;
    height: 100%;
    opacity: 0.9;
}

.SidebarNav{
    list-style: none;
}



