.Sidebar{
    position: absolute;
    /*width: 100%;
    z-index: 1;
    height: 100%;
    overflow-y: hidden;
    background: #2d936c;
    opacity: 0.9;
    */
    display: none;
}

.SidebarNav{
    padding: 0;
    list-style: none;
}



