.OwnerRequest {
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    background:black;
    overflow: hidden;
    color: white;
}

.OwnerRequest:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
  background-image: url('https://cdn.pixabay.com/photo/2017/04/26/10/33/transport-2262256_1280.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 2px 3px #ccc;
    
  }
  
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input{
    margin-bottom: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  

.OwnerRequest hr{
    border-top: .1rem solid #666b71;
} 

.OwnerRequest p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.OwnerRequest a{
    text-decoration: teal;

}

.OwnerRequest button:disabled {
    color: #555;
    background-color: #ccc;
    cursor: not-allowed;
    margin-top: 5px;
}