.Navbar {
    background-color: #2D936C;
    text-decoration: none;
    color: #fdfffc;
    height: 50px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 4rem;
    width: 100%;
}

.Navbar a{
    margin: 10px;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
    border-bottom: 3.5px solid #f5ee9e;
    color: #f5ee9e;
}

.Navbar div {
    margin-top: 15px;
    width: 30%;
    align-content: center;
    margin-left: 10%;
}


.Navbar ul {
    align-items: center;
}


@media (max-width: 415px) {
    .Navbar div {
        margin-left: 0px;
        width: 40%;
    }
    .Navbar ul {
        display: none;
    }
    
}

@media (max-width: 600px) {
    .Navbar div {
        margin-left: 2px;
        width: 40%;

    }
}

