.Reserve {
    margin-top: 50px;
    height: 50vh;
    margin-left: 240px;
    height: 150vh;
}

.Reserve h4{
    padding-top: 10px;
}

.Reserve option{
    margin-left: 15px;
}

.Reserve label{
    margin-right: 15px;
}

.Reserve button{
    margin-left: 25px;
    background-color: #2d936c;
    border: hidden;
}

