.NavItem {
    line-height: 40px;
    padding-right: 30px;
}

.NavItem a{
    display: block;
    text-decoration: none;
    color: #f5ee9e;
}

.NavItem a:hover{
    text-shadow: .1rem .1rem .5rem black;
}