.Footer {
    background-color: #40474e;
    color: #fdfffc;
}

.FooterLogo {
    height: 140
}


/*
@media (max-width: 570px) {
    .Image {
        margin: 0 20%;
    }
    .FooterText {
        width: 100%;
        text-align: center;
    }
}

*/